<section class="mt-5">
    <div class="container mt-20 mb-5 p-5 bg-theme ">
        <h1 class=" text-center text-theme-primary">Hakkımda</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Hello, I'm Yiğit Çetinkaya. I am a third-year student of computer engineering at Gazi University. So far,
                I have gained experience in web and mobile fields, but I want to produce different and innovative
                solutions in the field of artificial intelligence. I believe that artificial intelligence technologies have
                great potential for businesses and individuals</p>

                <p>Therefore, I have been developing myself in the field of artificial intelligence, attending various
                    trainings to improve my mathematical and programming skills, and developing projects on my own.
                    Thanks to my interest in learning, I am always open and eager to discover new ideas and put them into
                    practice.
                    </p>
            
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">AnaSayfaya Geri Dön</button>
            </div>
        </div>
    </div>
</section>