<section class="mt-5">
    <div class="container mt-20 mb-5 p-5 bg-theme ">
        <h1 class=" text-center text-theme-primary">Hakkımda</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium modi similique quidem maiores culpa, dolor iusto architecto excepturi iste, suscipit laudantium totam fugit, repudiandae laborum repellat! Ipsum numquam nesciunt maxime!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium modi similique quidem maiores culpa, dolor iusto architecto excepturi iste, suscipit laudantium totam fugit, repudiandae laborum repellat! Ipsum numquam nesciunt maxime!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium modi similique quidem maiores culpa, dolor iusto architecto excepturi iste, suscipit laudantium totam fugit, repudiandae laborum repellat! Ipsum numquam nesciunt maxime!</p>
            
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">AnaSayfaya Geri Dön</button>
            </div>
        </div>
    </div>
</section>