<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class = "col-md-12 text-center mt-5">
                <h3 class="text-black">Öne Çıkanlar</h3>
                <p class="text-black">AI-BLOG Sayfamıza Hoşgeldiniz Burada Yapay Zekaya Dair Bütün Detayları Yakalayabilir Yorumlanızla Cevaplarınızı Alıp Bilgilenebilirsiniz</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" *ngFor="let featuredPost of featuredPostsArray">
                <app-gonderi-kart [postData]="featuredPost" ></app-gonderi-kart>
            </div>
           
        </div>
    </div>
  

</section>


<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Son Atılan Postlar</h2>
        <p>Haftanın Son Gönderileri</p>
    </div>

        <div class="row">
           <div class="col-md-4 mt-3 card " *ngFor="let latestPost of latestPostsArray">
                <app-gonderi-kart [postData]="latestPost" ></app-gonderi-kart>
           </div>
        </div>
</section>

