.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(#F0C9B3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .login-form {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    animation: slide-in 1s ease-out;
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }