<div class="conatainer">
    <div class="row">

        <!-- Kategori Ekleme -->
        <div class="col-md-4 mb-5 ">
            <div class="card shadow-effect" routerLink='/kategoriler'> 
                <div class="card-body text-center category-edit">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
                    <h2 class="text-theme-primary">Kategori</h2>
                    <p>Kategori Detaylarını Buradan Yönetebilirsin.</p>
                </div>    
            </div>
        </div>

        <!-- Post Ekleme-->
        <div class="col-md-4 mb-5 ">
            <div class="card shadow-effect" routerLink='/posts'>
                <div class="card-body text-center category-edit">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-file-image"></i></h1>
                    <h2 class="text-theme-primary">Postlar</h2>
                    <p>Post Detaylarını Buradan Yönetebilirsin.</p>
                </div>    
            </div>
        </div>

          <!-- Aboneleri Görüntüleme-->
          <div class="col-md-4 mb-5 ">
            <div class="card shadow-effect" routerLink='/subscribers'>
                <div class="card-body text-center category-edit">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-users"></i></h1>
                    <h2 class="text-theme-primary">Aboneler</h2>
                    <p>Abone Detaylarını Buradan Yönetebilirsin.</p>
                </div>    
            </div>
        </div>


    </div>