<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="logo-text" >
          
          <p class="mb-2 mt-2">AI BLOG </p>
          
      </div>
        <div class="links">
          <ul>
            <li><a href="#" class="nav-link">Hakkımda</a></li>
            <li><a href="#" class="nav-link">İletişim</a></li>
          </ul>
        </div>
        <div class="copy">
          <p class="mb-2 mt-2">Copyright © 2023 AI BLOG
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
