nav{
    margin-top: 100px;
    height: 50px;
    background-color: var(--navbar-footer-color);
    display: flex;


}
.navbar-nav li {
    list-style: none;
    margin: 0 10px;
  }
  
.navbar-nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--navbar-text-color);
    /*text-transform: uppercase;*/ /*Tasarım sonrası duruma göre aktif edilebilir."*/
}